.main {
  min-height: 100vh;
  padding-bottom: 0;
}

.header,
.main {
  max-width: 930px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #50fa7b;
}

.subtitle {
  color: #bd93f9;
}

.footer a {
  padding: 0 0.5rem;
}

a,
a:visited {
  color: #8be9fd;
}

.glossary {
  list-style: none;
  padding: 0;
}

.glossary li {
  padding: 0.5rem 0;
}
