.main {
  min-height: 100vh;
  padding-bottom: 0;
}

.header,
.main {
  max-width: 930px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a,
.footer a:visited {
  padding: 0 0.5rem;
  color: #8be9fd;
}

.title {
  color: #50fa7b;
}
