.section {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: #44475a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.section__title {
  margin-bottom: 0;
  margin-top: 0;
}

.section__subtitle {
  font-size: 0.8rem;
  padding: 1rem 0;
  margin: 0;
  color: #fafafa;
}

.section__content {
  padding: 0;
}

.section__columns {
  padding-right: 1rem;
}

.section__code {
  background-color: #282a36;
  padding: 1rem;
}
