[data-theme='light-theme'] {
  --green: #50fa7b;
  --ligth-blue: #8be9fd;
  --purple: #bd93f9;
  --orange: #ffb86c;
  --font-color: #282a36;
  --background-color: #fafafa;
  --background-color-sc: #f8f8f2;
}
